@import '../../utils/scss/index.scss';

.homepage {
  padding-top: 50px;

  .movies-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    flex-direction: column;
    padding: 0 0 15px;
    margin: 0 0 15px;

    @include breakpoint(lg) {
      flex-direction: row;
    }

    .filters {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include breakpoint(lg) {
        flex-direction: row;
        text-align: left;
      }
    }

    .search-input {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;

      @include breakpoint(md) {
        width: 150px;
        margin: 0 auto 20px;
      }

      @include breakpoint(lg) {
        margin: 0;
      }

      @include breakpoint(xl) {
        width: auto;
      }
    }

    h1 {
      margin-bottom: 20px;
      text-align: center;

      @include breakpoint(lg) {
        text-align: left;
        margin: 0;
      }
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      @include breakpoint(lg) {
        justify-content: flex-start;
        margin: 0 0 0 15px;
      }
    }
  }

  .movie-catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: center;
    grid-gap: 50px;

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(xl) {
      grid-template-columns: repeat(5, 1fr);
    }

    @include breakpoint(xxl) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
