@import '../../utils/scss/index.scss';

.detail-page {
  $top-from-title: 130px;

  margin-bottom: 50px;

  .page-container {
    position: relative;
  }

  .main-image-container {
    .backdrop-image {
      width: 100%;
      height: 200px;
      overflow: hidden;

      @include breakpoint(md) {
        height: 400px
      }

      img {
        filter: blur(3px);
        height: 100%;
        object-fit: cover;
        object-position: 50% 25%;
        transform: scale(1.1); /* To prevent white edges */
        width: 100%;
      }
    }
  }

  .title-container {
    align-items: center;
    bottom: (-$top-from-title * 2);
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    width: 100%;

    @include breakpoint(md) {
      align-items: flex-end;
      bottom: (-$top-from-title);
      flex-direction: row;
      left: auto;
      width: auto;
    }

    .main-data {
      margin-left: 0;
      width: 100%;
      text-align: center;

      @include breakpoint(md) {
        margin-left: 10px;
        text-align: left;
      }

      .rating {
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(md) {
          justify-content: flex-start;
        }
      }

      svg {
        width: 15px;
        margin: 0 0 3px 5px;
      }
    }
  }

  .content {
    margin-top: ($top-from-title * 2) + 30px;

    @include breakpoint(md) {
      margin-top: $top-from-title + 30px;
    }
  }
}
