body #root {
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}

.nav {
  ul {
    align-items: center;
    background-color: #ededed;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0 10px;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          color: #0859c6;
        }
      }
    }
  }
}

.footer {
  align-items: center;
  background-color: #ededed;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-top: auto;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: #0859c6;
    }
  }
}

.page-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 20px;
}
