.nav {
  margin-bottom: 50px;

  ul {
    align-items: center;
    background-color: #ededed;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0 10px;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          color: #0859c6;
        }
      }
    }
  }
}

.page-container {
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 20px;
}